* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #333;
}

img {
    max-width: 100%;
}

.btn {
    padding: 6px 12px;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
    background-color: #00b494;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: #008068;
}

.rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.content {
    max-width: 500px;
    margin: 0 auto;
}

.form_user_cropper {
    max-width: 900px;
}

.form_user_cropper_preview {
    margin: 20px;
    text-align: center;
}

.form_user_cropper_action {
    text-align: center;
}